:root {
	--bg-page: rgb(45, 45, 45);
}

body, html {
	margin: 0;
	padding: 0;
}

#page {
	height: 100vh;
	width: 100vw;
	min-width: 600px;
	min-height: 600px;
	display: grid;
	background-color: var(--bg-page);
	margin: auto;
	align-items: center;
	font-family: 'PT Serif', serif;
}

#content {
	height: 50%;
}

#header {
	font-size: 60px;
	font-weight: 700;
	color: white;
	margin: auto;
}

#header-title {
	text-align: center;
}

#login {
	justify-content: center;
	display: grid;
	padding: 3em;
}

.info {
	font-size: medium;
	font-weight: 400;
	color: white;
	text-align: center;
}

#description {
	font-style: italic;
}

#login-button {
	justify-self: center;
}

#about {

}