:root {
	--bg-page: indigo;
}

#page {
	height: 100vh;
	width: 100vw;
	min-width: 600px;
	min-height: 600px;
	display: grid;
	background-color: var(--bg-page);
	margin: auto;
	align-items: center;
}

#content {
	height: 50%;
}

#header {
	font-size: 40px;
	font-weight: 700;
	font-family: 'PT Serif', serif;
	color: white;
	margin: auto;
}

#header-title {
	text-align: center;
}

#login {
	justify-content: center;
	display: grid;
}

#description {
	font-size: large;
	font-weight: 400;
	font-style: italic;
	font-family: 'PT Serif', serif;
	color: white;
	text-align: center;
}

#login-button {
	justify-self: center;
}